.bg {
    background:  url(city.jpg) center center no-repeat;
}
.bg::before {
    content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: linear-gradient(to bottom right,#333333,#8a8180);
	opacity: .6; 
}