<template>
    <div>
        <b-row v-if="statusSiaga === 1">
            <b-col>
                <h3 style="color: #fff; font-family: 'Adobe Myungjo Std M; font-size: 20px; text-weight: bold;" v-if="statusSiaga==1">BOOKED FOR POSKO SIAGA</h3>
            </b-col>
        </b-row>
        <b-row v-else style="align-item: center;"
            <b-col>
		<br />
		<br />
                <h3 style="color: #fff; font-family: 'Adobe Myungjo Std M; font-size: 40px; text-weight: bold; text-align: center;" v-if="name == '' && statusSiaga==0">AVAILABLE</h3>
                <h5 style="color: #fff; font-family: 'Adobe Myungjo Std M; font-size: 25px;" v-if="name.length<15 && statusSiaga==0">{{perihal}}</h5>
                <h5 style="color: #fff; font-family: 'Adobe Myungjo Std M; font-size: 25px;" v-if="name.length>25 && statusSiaga==0">{{perihal.substring(0,25)+"...."}}</h5>
		<br />
                <h5 style="color: #fff; font-family: 'Adobe Myungjo Std M; font-size: 20px;" v-if="name.length<15 && statusSiaga==0"><fa icon="user" style="color: #2ecc71;" /> {{ name }}</h5>
                <h5 style="color: #fff; font-family: 'Adobe Myungjo Std M; font-size: 20px;" v-if="name.length>15 && statusSiaga==0">{{name.substring(0,15)+"...."}}</h5>
                <h5 style="color: #fff; font-family: 'Adobe Myungjo Std M; font-size: 15px;" v-if="expired.length>0 && statusSiaga==0"><fa icon="clock" style="color: #e74c3c;"/>  {{start}}:00:00  -  {{end}}:00:00</h5>
            </b-col>
            <b-col style="text-align: center;"></b-col>
        </b-row>
        <b-row v-if="statusSiaga === 1" style="align-item: center;">
            <img src="../../public/siaga.png" style="margin: 5px"/>
        </b-row>
        <b-row v-else style="align-item: center;">
            <b-col style="margin-top: 30px">
                <div v-if="name.length>0 && statusSiaga==0">
                    <b-button variant="danger" pill size="lg" style="color: #fff" disabled>BOOKED</b-button>
                </div>
                <div v-if="name.length==0 && statusSiaga==0" style="text-align: center;">
                    <!-- <b-button variant="success" pill size="lg" style="color: #fff;" @click="showPin">CHECK IN</b-button> -->
                    <img src="../../public/checkin.png" style="margin: 5px" width="150px" height="150px" />
                    <!-- <qrcode-stream @decode="onDetect" @init="onInit"></qrcode-stream> -->
                </div>
            </b-col>
        </b-row>

        <!-- Modal PIN -->
        <b-modal size="sm" ref="pin" hide-footer :title="pin">
            <b-row class="text-center">
                <b-col><b-button block variant="primary" style="height: 40px; margin-bottom: 5px;" v-on:click="pinClick(1)">1</b-button></b-col>
                <b-col><b-button block variant="primary" style="height: 40px; margin-bottom: 5px;" v-on:click="pinClick(2)">2</b-button></b-col>
                <b-col><b-button block variant="primary" style="height: 40px; margin-bottom: 5px;" v-on:click="pinClick(3)">3</b-button></b-col>
            </b-row>
            <b-row>
                <b-col><b-button block variant="primary" style="height: 40px; margin-top: 5px; margin-bottom: 5px;" v-on:click="pinClick(4)">4</b-button></b-col>
                <b-col><b-button block variant="primary" style="height: 40px; margin-top: 5px; margin-bottom: 5px;" v-on:click="pinClick(5)">5</b-button></b-col>
                <b-col><b-button block variant="primary" style="height: 40px; margin-top: 5px; margin-bottom: 5px;" v-on:click="pinClick(6)">6</b-button></b-col>
            </b-row>
            <b-row>
                <b-col><b-button block variant="primary" style="height: 40px; margin-top: 5px; margin-bottom: 5px;" v-on:click="pinClick(7)">7</b-button></b-col>
                <b-col><b-button block variant="primary" style="height: 40px; margin-top: 5px; margin-bottom: 5px;" v-on:click="pinClick(8)">8</b-button></b-col>
                <b-col><b-button block variant="primary" style="height: 40px; margin-top: 5px; margin-bottom: 5px;" v-on:click="pinClick(9)">9</b-button></b-col>
            </b-row>
            <b-row>
                <b-col><b-button block variant="danger" style="height: 40px; margin-top: 5px; margin-bottom: 5px;" @click="resetPin"><fa icon="sync" /></b-button></b-col>
                <b-col><b-button block variant="primary" style="height: 40px; margin-top: 5px; margin-bottom: 5px;" v-on:click="pinClick(0)">0</b-button></b-col>
                <b-col><b-button block variant="success" style="height: 40px; margin-top: 5px; margin-bottom: 5px;" @click="submitPin"><fa icon="sign-in-alt"></fa></b-button></b-col>
            </b-row>
        </b-modal>

        <!-- MODAL LOADING -->
        <b-modal size="sm" hide-header hide-footer no-close-on-backdrop ref="loading">
            <div class="text-center">
                <b-spinner type="grow" label="Spinning" />
                <br />
                Please Wait ....
            </div>
        </b-modal>
        
        <!-- SUCCESS MODAL -->
        <b-modal size="sm" hide-header ref="success" ok-only>
            <div class="text-center">
                <fa icon="check-circle" style="font-size: 40px; color: green"></fa>
                <br />
                <h5>{{message}}</h5>
            </div>
        </b-modal>

        <!-- ERROR MODAL -->
        <b-modal size="sm" hide-header ref="error" ok-only>
            <div class="text-center">
                <fa icon="times-circle" style="font-size: 40px; color: red"></fa>
                <br />
                <br />
                <h5>{{error}}</h5>
            </div>
        </b-modal>
    </div>
</template>

<script>
import moment from 'moment'
import { setInterval, clearInterval, setTimeout } from 'timers';
import VueClock from 'vue-clock-simple';
import Axios from 'axios';
import { hostApi } from '../utils'
import { QrcodeStream, QrcodeDropZone, QrcodeCapture } from "vue-qrcode-reader";
import { async } from 'q';
const interval = require('interval-promise')

export default {
    name: 'Core',
    components: {
        VueClock,
        QrcodeStream,
        QrcodeDropZone,
        QrcodeCapture
    },
    data() {
        return {
            datetime: Date.now(),
            name: '',
            division: '',
            perihal: '',
            pin: '',
            message: '',
            error: '',
            expired: '',
            count: 0,
            localStorageSupport: true,
            statusSiaga: false,
	        timeOut: 3153600000,
            start: '',
            end: '',
            destroyed: false
        }
    },
    computed: {
        clockDisplay() {
            return moment(this.time).format('MMMM Do YYYY, HH:mm:ss')
        }
    },
    created() {
        Axios.get(hostApi+'/siaga/status')
            .then((response) => {
                this.statusSiaga = response.data.value
            });
            let today = new Date()
            let dd = String(today.getDate()).padStart(2, '0');
            var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
            var yyyy = today.getFullYear();
            today = yyyy + '-' + mm + '-' + dd
            let startToday = new Date()
            let getDataCreds = JSON.parse(window.localStorage.getItem('creds'))
            if(getDataCreds == null){
                return false
            }else{
                this.name = getDataCreds.data.name
                this.perihal = getDataCreds.data.perihal
                this.expired = getDataCreds.expired
                this.division = getDataCreds.data.division
            this.start = getDataCreds.start
            this.end = getDataCreds.end
            }	
            let strExpDate = today + ' ' + getDataCreds.expired
            let expDate = new Date(strExpDate)
            let countMS = expDate - startToday
    },
    mounted() {
        var timeExpired = this.expired
        setInterval(() => {
            var newDate = new Date()
            var hour = newDate.getHours();
            var minute = newDate.getMinutes();
            var second = newDate.getSeconds();
            if(hour < 10){
                hour = "0" + hour
            }
            if(minute < 10){
                minute = "0" + minute
            }
            if(second < 10){
                second = "0" + second
            }
            var times = hour + ':' + minute + ':' + second;
            this.time = times
            if(this.time == this.expired){
                window.localStorage.removeItem('creds')
                window.location.reload()
                Axios.get('http://localhost:3000/door/lock')
                    .then(response => null)
                Axios.get(hostApi+'/log/expired')
                    .then(response => null)
            }
            Axios.get(hostApi+'/log/last')
                .then((response) => {
                    if(response.data.found == true) {
                        this.name = response.data.data.name
                        this.perihal = response.data.data.perihal
                        this.expired = response.data.expired
                        this.division = response.data.data.division
                        this.start = response.data.start
                        this.end = response.data.end
                        window.localStorage.setItem('checkin', JSON.stringify(response.data))
                    }else{
                        window.localStorage.removeItem('checkin')
                        this.name = ''
                        this.perihal = ''
                        this.expired = ''
                        this.division = ''
                        this.start = ''
                        this.end = ''
                    }
                })
        }, 1000)
    },
    methods: {
        showPin() {
            this.$refs['pin'].show()
        },
        hideModal() {
            this.$refs['pin'].hide()
        },
        pinClick(val) {
            this.pin = this.pin+val
        },
        resetPin() {
            this.pin = ''
        },
        submitPin() {
            this.$refs['loading'].show()
            Axios.get(hostApi+'/log/check/passcode?code='+this.pin)
                .then(response => {
                    this.$refs['loading'].hide()
                    this.message = response.data.msg
                    this.$refs['success'].show()
                    this.name = response.data.data.name
                    this.perihal = response.data.data.perihal
                    this.division = response.data.data.division
                    this.expired = response.data.expired
                    this.start = response.data.start
                    this.end = response.data.end
                    window.localStorage.setItem('creds', JSON.stringify(response.data))
                    Axios.get('http://localhost:3000/door/unlock')
                    .then(response => {console.log('welcome')})
                            this.$refs['pin'].hide()
                        }).catch(error => {
                            this.$refs['loading'].hide()
                            this.error = error.response.data.msg
                            this.$refs['error'].show()
                            this.pin = ''
                        })
        },
        onDetect(decode) {
            this.$refs['loading'].show()
            Axios.get(hostApi+'/log/check/passcode?code='+decode)
                .then(response => {
                    this.$refs['loading'].hide()
                    this.message = response.data.msg
                    this.$refs['success'].show()
                    this.name = response.data.data.name
                    this.perihal = response.data.data.perihal
                    this.division = response.data.data.division
                    this.expired = response.data.expired
                    this.start = response.data.start
                    this.end = response.data.end
                    window.localStorage.setItem('creds', JSON.stringify(response.data))
                    Axios.get('http://localhost:3000/door/unlock')
                    .then(response => {console.log('welcome')})
                            this.$refs['pin'].hide()
                        }).catch(error => {
                            this.$refs['loading'].hide()
                            this.error = error.response.data.msg
                            this.$refs['error'].show()
                            this.pin = ''
                        })
        },
        async onInit(promise) {
            this.$refs['loading'].show()
            try {
                await promise
            } catch (error) {
                if (error.name === 'NotAllowedError') {
                    this.error = "ERROR: you need to grant camera access permisson"
                } else if (error.name === 'NotFoundError') {
                    this.error = "ERROR: no camera on this device"
                } else if (error.name === 'NotSupportedError') {
                    this.error = "ERROR: secure context required (HTTPS, localhost)"
                } else if (error.name === 'NotReadableError') {
                    this.error = "ERROR: is the camera already in use?"
                } else if (error.name === 'OverconstrainedError') {
                    this.error = "ERROR: installed cameras are not suitable"
                } else if (error.name === 'StreamApiNotSupportedError') {
                    this.error = "ERROR: Stream API is not supported in this browser"
                }
            } finally {
                this.$refs['loading'].hide()
            }
        },
        async reload () {
            this.destroyed = true
            await this.$nextTick()
            this.destroyed = false
        }
    }
}
</script>

<style>

</style>

