<template>
    <b-row class="footer">
        <marquee-text style="font-size: 20px;">
            &nbsp; <img src="http://10.3.98.217:8888/uploads/thumbs/e12483a12c052523922fff35ce789778.png" alt="" width="30px" height="30px"> Untuk Melakukan Booking Terlebih dahulu lakukan pengunduhan Aplikasi <b>RAMOS</b> Berikut dengan prosedural mem-booking Ruangan Meeting dan jangan lupa gunakan dahulu Jaringan Internal (VPN, Wifi dZONE, i-zone, LAN)
        </marquee-text>
    </b-row>
</template>

<script>
import MarqueeText from 'vue-marquee-text-component';
export default {
    name: 'Footer',
    components: {
        MarqueeText
    }
}
</script>

<style>
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 110%;
    background-color: azure;
    right: 0;
}
</style>
