<template>
    <b-row class="">
        <b-col cols="9">
            <b-navbar-brand style="color: #fff; font-size: 30px; font-weight: bold;">
                <img src="../../public/logo.png" width="60px" height="60px" style="margin: 5px"/>
                M-RAMOS
            </b-navbar-brand>
        </b-col>
        <!-- <b-col cols="2">
            <h5 style="margin-top: 16px; color: #fff">TODAY</h5>
        </b-col> -->
        <b-col cols="3" class="text-center">
            <h5 style="margin-top: 18px; color: #fff; text-decoration: underline;" v-if="statusSiaga == true">Jadwal Siaga</h5>
            <h5 style="margin-top: 18px; color: #fff; text-decoration: underline;" v-else>Information</h5>
            <fa icon="sync" style="color: lightgreen;" @click="refresh"/>
        </b-col>
    </b-row>  
</template>

<script>
import Axios from 'axios';
import { hostApi } from '../utils';
export default {
    data() {
        return {
            statusSiaga: false
        }
    },
    created() {
        Axios.get(hostApi+'/siaga/status')
            .then((response) => {
                this.statusSiaga = response.data.value
                console.log(response.data.value)
            });
    },
    methods: {
        refresh() {
            window.location.reload();
        }
    }
}
</script>

<style>
.navbar-brand {
	font-size: 30px;
}
</style>

