<template>
    <div style="margin-left: 20px; ">
        <b-row style="color: #fff">
		<p style="font-size: 20px; color: '#fff'; margin: 0; margin-top: 30px;">{{date}}</p>
		    <VueClock style="font-size: 30px;"/>
        </b-row>
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
        <b-row>
            <img src="../../public/download.png" width="80px" height="80px;">
        </b-row>
	<b-row>
	    <h5 style="color: #fff;">Download App</h5>
	</b-row>
    </div>
</template>

<script>
import moment from 'moment'
import { setInterval, clearInterval, setTimeout } from 'timers';
import VueClock from 'vue-clock-simple';
import Axios from 'axios';
import { hostApi } from '../utils'

export default {
    name: 'Leftbody',
    components: {
        VueClock
    },
    data() {
        return {
            datetime: Date.now(),
            name: '',
            division: '',
            perihal: '',
            pin: '',
            message: '',
            error: '',
            expired: '',
            count: 0,
            localStorageSupport: true,
            statusSiaga: false,
	        timeOut: 3153600000,
	    date: '',
        }
    },
    computed: {
        clockDisplay() {
            return moment(this.time).format('HH:mm:ss')
        }
    },
    created() {
	Axios.get(hostApi+'/siaga/status')
	    .then((response) => {
		this.statusSiaga = response.data.value
	     });
        let today = new Date()
        let dd = String(today.getDate()).padStart(2, '0');
        var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
        var yyyy = today.getFullYear();
        today = yyyy + '-' + mm + '-' + dd
        let startToday = new Date()
        let getDataCreds = JSON.parse(window.localStorage.getItem('creds'))
        if(getDataCreds == null){
            return false
        }else{
            this.name = getDataCreds.data.name
            this.perihal = getDataCreds.data.perihal
            this.expired = getDataCreds.expired
            this.division = getDataCreds.data.division
        }	
        let strExpDate = today + ' ' + getDataCreds.expired
        let expDate = new Date(strExpDate)
        let countMS = expDate - startToday
    },
    mounted() {
	var timeExpired = this.expired
	setInterval(() => {
		var newDate = new Date()
		var dd = newDate.getDate();
		var mm = newDate.getMonth() + 1;
		var yyyy = newDate.getFullYear();
		var hour = newDate.getHours();
		var minute = newDate.getMinutes();
		var second = newDate.getSeconds();
		if(hour < 10){
			hour = "0" + hour
		}
		if(minute < 10){
			minute = "0" + minute
		}
		if(second < 10){
			second = "0" + second
		}
		if(dd < 10){
			dd = '0' + dd
		}
		if(mm < 10){
			mm = '0' + mm
		}
		var getdate = dd + '/' + mm + '/' + yyyy
		var times = hour + ':' + minute + ':' + second;
		this.time = times
		this.date = getdate
		if(this.time == this.expired){
			window.localStorage.removeItem('creds')
			window.location.reload()			
			Axios.get('http://localhost:3000/door/lock')
				.then(response => {console.log(true)})
		}
	}, 1000)
    },
    destroyed() {
        clearInterval(this.handle)
    },
    methods: {
        showPin() {
            this.$refs['pin'].show()
        },
        hideModal() {
            this.$refs['pin'].hide()
        },
        pinClick(val) {
            this.pin = this.pin+val
        },
        resetPin() {
            this.pin = ''
        },
        submitPin() {
            this.$refs['loading'].show()
            Axios.get(hostApi+'/log/check/passcode?code='+this.pin)
                .then(response => {
                    this.$refs['loading'].hide()
                    this.message = response.data.msg
                    this.$refs['success'].show()
                    this.name = response.data.data.name
                    this.perihal = response.data.data.perihal
                    this.division = response.data.data.division
		    this.expired = response.data.expired
                    window.localStorage.setItem('creds', JSON.stringify(response.data))
		console.log(response.data.expired)
		    Axios.get('http://localhost:3000/door/unlock')
			.then(response => {console.log('welcome')})
                    this.$refs['pin'].hide()
                }).catch(error => {
                    this.$refs['loading'].hide()
                    this.error = error.response.data.msg
                    this.$refs['error'].show()
                    this.pin = ''
                })
        }
    }
}
</script>

<style>

</style>

