<template>
    <b-container fluid>
        <Header />
        <b-row>
            <b-col cols="3">
                <Leftbody />
            </b-col>
            <b-col cols="6" style="text-align: center;">
                <Core />
            </b-col>
            <b-col cols="3">
                <Rightbody />
            </b-col>
        </b-row>
        <Footer />
    </b-container>
</template>

<script>
import Header from './Header'
import Leftbody from './Leftbody'
import Rightbody from './Rightbody'
import Footer from './Footer'
import Core from './Core'
import { setInterval } from 'timers';

export default {
    name: 'Main',
    components: {
        Header,
        Leftbody,
        Rightbody,
        Footer,
        Core,
    },
    created() {
        setInterval(function() {
            window.location.reload()
        }, 43200000)
    }
}
</script>

<style>

</style>

