<template>
    <div v-if="statusSiaga == 1">
        <b-tabs align="center">
            <b-tab title="S1" active>
                <b-card v-for="users in shift1" v-bind:key="users.id" no-body class="overflow-hidden" style="width: 100%; height: 40px; margin-top: 5px; margin-bottom: 5px; background-color: #CCCCCC">
                    <b-row no-gutters>
                        <b-col md="3">
                            <b-card-img :src="logo" class="rounded-0" style="width: 30px; height: 30px; margin: 5px;"></b-card-img>
                        </b-col>
                        <b-col>
                            <b-card-text style="margin-top: 6px;">{{ users.name }}</b-card-text>
                        </b-col>
                    </b-row>
                </b-card>
            </b-tab>
            <b-tab title="S2">
                <b-card v-for="users in shift2" v-bind:key="users.id" no-body class="overflow-hidden" style="width: 100%; height: 40px; margin-top: 5px; margin-bottom: 5px;">
                    <b-row no-gutters>
                        <b-col md="3">
                            <b-card-img :src="logo" class="rounded-0" style="width: 30px; height: 30px; margin: 5px;"></b-card-img>
                        </b-col>
                        <b-col>
                            <b-card-text style="margin-top: 6px;">{{ users.name }}</b-card-text>
                        </b-col>
                    </b-row>
                </b-card>
            </b-tab>
            <b-tab title="S3">
                <b-card v-for="users in shift3" v-bind:key="users.id" no-body class="overflow-hidden" style="width: 100%; height: 40px; margin-top: 5px; margin-bottom: 5px;">
                    <b-row no-gutters>
                        <b-col md="3">
                            <b-card-img :src="logo" class="rounded-0" style="width: 30px; height: 30px; margin: 5px;"></b-card-img>
                        </b-col>
                        <b-col>
                            <b-card-text style="margin-top: 6px;">{{ users.name }}</b-card-text>
                        </b-col>
                    </b-row>
                </b-card>
            </b-tab>
        </b-tabs>
    </div>
    <div v-else>
        <div class="content-tutor" >
            <div v-for="list in lmts" v-bind:key="list.id">
                <b-card no-body class="overflow-hidden" style="width: 100%; margin-bottom: 5px; margin-top: 5px; height: 60px; opacity: 0.8" @click="showVideo(list.id)">
                    <b-row no-gutters>
                        <b-col md="4">
                            <b-card-img v-bind:src="'http://10.3.98.217:8888/uploads/thumbs/' + list.thumbnail" style="width: 50px; height: 50px; margin: 5px;"></b-card-img>
                        </b-col>
                        <b-col md="8">
                            <b-card-body v-bind:title="list.title"></b-card-body>
                        </b-col>
                    </b-row>
                </b-card>
            </div>
        </div>
        <b-modal size="lg" ref="videoPod" hide-footer hide-header centered>
            <video width="100%" height="300px;" autoplay>
                <source :src="'http://10.3.98.217:8888/uploads/videos/' + video">
            </video>
        </b-modal>
    </div>
</template>

<script>
import Axios from 'axios';
import { hostApi } from '../utils';
export default {
    name: 'Rightbody',
    data() {
        return {
            logo: require('../../public/logo.png'),
            shift1: [],
            shift2: [],
            shift3: [],
            statusSiaga: false,
            lmts: [],
            video: '',
        }
    },
    created() {
        Axios.get(hostApi+'/siaga/status')
            .then((response) => {
                this.statusSiaga = response.data.value
            });
        Axios.get(hostApi+'/siaga/mobile/schedule?shift=1')
            .then((response) => {
                this.shift1 = response.data
            })
        Axios.get(hostApi+'/siaga/mobile/schedule?shift=2')
            .then((response) => {
                this.shift2 = response.data
            })
        Axios.get(hostApi+'/siaga/mobile/schedule?shift=3')
            .then((response) => {
                this.shift3 = response.data
            })
        Axios.get(hostApi+'/lmts/all')
            .then((response) => {
                this.lmts = response.data
            })
    },
    methods: {
        showVideo(id) {
            this.$refs['videoPod'].show()
            Axios.get(hostApi+'/lmts/video/'+id)
                .then((response) => {
                    this.video = response.data
                })
        }
    }
}
</script>

<style>
    .nav-link {
        color: #fff;
    }
    a:hover {
        background-color: #fff;
        color: black;
    }
    .card-img-left {
        width: 75px;
        height: 75px;
    }
    .card-title {
        font-size: 15px;
    }
    .content-tutor {
        height: 250px; 
        overflow-y: scroll; 
    }
    .content-tutor::-webkit-scrollbar { 
        width: 0 !important;
        display: none;
    }
</style>
